<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mask.backend.mapper.WaitingMapper">
  <resultMap id="BaseResultMap" type="com.mask.backend.pojo.Waiting">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="namee" jdbcType="VARCHAR" property="namee" />
    <result column="id_num" jdbcType="VARCHAR" property="idNum" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="appointment_id" jdbcType="INTEGER" property="appointmentId" />
    <result column="appoint_num" jdbcType="INTEGER" property="appointNum" />
    <result column="place_id" jdbcType="INTEGER" property="placeId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, namee, id_num, telephone, appointment_id, appoint_num, place_id
  </sql>
  <select id="selectByExample" parameterType="com.mask.backend.pojo.WaitingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from waiting_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from waiting_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from waiting_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mask.backend.pojo.WaitingExample">
    delete from waiting_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mask.backend.pojo.Waiting" useGeneratedKeys="true">
    insert into waiting_list (namee, id_num, telephone, 
      appointment_id, appoint_num, place_id
      )
    values (#{namee,jdbcType=VARCHAR}, #{idNum,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{appointmentId,jdbcType=INTEGER}, #{appointNum,jdbcType=INTEGER}, #{placeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mask.backend.pojo.Waiting" useGeneratedKeys="true">
    insert into waiting_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="namee != null">
        namee,
      </if>
      <if test="idNum != null">
        id_num,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="appointmentId != null">
        appointment_id,
      </if>
      <if test="appointNum != null">
        appoint_num,
      </if>
      <if test="placeId != null">
        place_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="namee != null">
        #{namee,jdbcType=VARCHAR},
      </if>
      <if test="idNum != null">
        #{idNum,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="appointmentId != null">
        #{appointmentId,jdbcType=INTEGER},
      </if>
      <if test="appointNum != null">
        #{appointNum,jdbcType=INTEGER},
      </if>
      <if test="placeId != null">
        #{placeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mask.backend.pojo.WaitingExample" resultType="java.lang.Long">
    select count(*) from waiting_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update waiting_list
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.namee != null">
        namee = #{record.namee,jdbcType=VARCHAR},
      </if>
      <if test="record.idNum != null">
        id_num = #{record.idNum,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null">
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.appointmentId != null">
        appointment_id = #{record.appointmentId,jdbcType=INTEGER},
      </if>
      <if test="record.appointNum != null">
        appoint_num = #{record.appointNum,jdbcType=INTEGER},
      </if>
      <if test="record.placeId != null">
        place_id = #{record.placeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update waiting_list
    set id = #{record.id,jdbcType=INTEGER},
      namee = #{record.namee,jdbcType=VARCHAR},
      id_num = #{record.idNum,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      appointment_id = #{record.appointmentId,jdbcType=INTEGER},
      appoint_num = #{record.appointNum,jdbcType=INTEGER},
      place_id = #{record.placeId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mask.backend.pojo.Waiting">
    update waiting_list
    <set>
      <if test="namee != null">
        namee = #{namee,jdbcType=VARCHAR},
      </if>
      <if test="idNum != null">
        id_num = #{idNum,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="appointmentId != null">
        appointment_id = #{appointmentId,jdbcType=INTEGER},
      </if>
      <if test="appointNum != null">
        appoint_num = #{appointNum,jdbcType=INTEGER},
      </if>
      <if test="placeId != null">
        place_id = #{placeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mask.backend.pojo.Waiting">
    update waiting_list
    set namee = #{namee,jdbcType=VARCHAR},
      id_num = #{idNum,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      appointment_id = #{appointmentId,jdbcType=INTEGER},
      appoint_num = #{appointNum,jdbcType=INTEGER},
      place_id = #{placeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>